html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "franklin", sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.container__header {
    font-size: 30px;
    color: whitesmoke;
    background-color: teal;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.form {
    color: teal;
    font-weight: bold;
}

.form__money {
    font-family: "franklin", sans-serif;
    border-radius: 20px;
    padding: 5px 30px;
    width: 80%;
    color: teal;
}

.form__exchange {
    font-family: "franklin", sans-serif;
    color: white;
    border-radius: 20px;
    padding: 5px 30px;
    background: teal;
    width: 80%
}


.form__fieldset {
    border-color: teal;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px;
    padding: 100px 20px;
    margin-bottom: 50px;
    background-image: url(https://images.pexels.com/photos/5184961/pexels-photo-5184961.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;

}

.form__labelText {
    max-width: 200px;
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.form__legend {
    font-size: 30px;
    background-color: white;
    font-family: "franklin", sans-serif;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px teal, 21px 22px 40px 0px rgba(0, 0, 0, 0);
    ;
    padding: 10px;
}

.form__submit {
    border: none;
    background-color: darkred;
    border-radius: 20px;
    color: white;
    padding: 20px 60px;
    display: block;
    margin: 10px auto;
    font-size: 30px;
    width: 50%;
}

.form__submit:hover {
    background-color: hsl(0, 100%, 47%);

}

.paragraph {
    margin: 20px 50px;
}